**/target/*
!echomind-app/target/echomind-app-*.jar
!echomind-user-memory/target/echomind-user-memory-*.jar
!external-mcp/nowcoder-java-interview-mcp-server-1.0.0.jar
!skills/skill-weather/target/*-jar-with-dependencies.jar
!skills/skill-calculator/target/*-jar-with-dependencies.jar
!skills/skill-markdown-code/target/*-jar-with-dependencies.jar
!skills/skill-date-query/target/*-jar-with-dependencies.jar
!skills/skill-github-intel/target/*-jar-with-dependencies.jar
!skills/skill-railway-12306/target/*-jar-with-dependencies.jar
!skills/skill-travel-planning/target/*-jar-with-dependencies.jar
!skills/skill-flight-tracker/target/*-jar-with-dependencies.jar
!skills/skill-qq-mail/target/*-jar-with-dependencies.jar
!skills/filesystem-1.0.0.jar
**/node_modules/
**/dist/
**/.git/
**/.idea/
**/*.iml
**/.vscode/
**/logs/
**/*.log
.env
*.md
